<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<%= render 'layouts/head' %>
</head>
<body>
	<!--start of Google Seach bar --> 
	<div class="container">
		<br/>
		<div class="googleSearch row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
					<!--end of col-->
					<div class="searchBar col">
						<input id="pac-input" class="form-control form-control-lg form-control-borderless" 
						name="locationSearch" type="text" placeholder="Search avalable vehicle by postal code e.g 3000">
					</div>
                                        <!--
					<button class="btn btn-lg btn-success" type="text" name="">Search</button>
                                        -->
				</div>
			</div>
			<!--end of col-->
		</div>
	</div>
	</div>
	<!-- Output googleMaps div-->
	<div id="googleMaps">
	</div>
	<!-- Output guide -->
	<div class="guide">
	</div>

<script 
async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8gnvfxDpVNtV4o39R1hULlcBUHhyGpK0&libraries=places&callback=initMap">
</script>
