<% @messages.each do |m| %>
  <% if (current_user.type == "Administrator" && m.enduser == Enduser.find_by_id(params[:user_id])) ||
    m.enduser_id == current_user.id %>
    <div class="border border-dark px-2 py-2">
      <p><%= m.content %></p>
      <h8>by:</h8>
      <p class="d-inline"><%= m.author %>
    </div>
    <% end %>
<% end %>
