<h1>Share-Fleets sign up promotional code</h1>
<p>You have been sent a promotional code from Share-Fleets worth 10% off your next booking.</p>
<h3><%= @code %></h3>
<p>Use at booking time to apply this discount.</p>