<%# 
    Author: Ryan Tran
    Student number: s3201690

    New vehicle view
%>

<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Add new Vehicle</h2>
	</div>
    <%= form_for(@vehicle) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= render partial: "vehicleform", locals: {f: f} %>
        <%= f.submit "Add Vehicle", class: "btn btn-primary btn-block" %>
    <% end %>
</div>