<%# 
    Author: Ryan Tran
    Student number: s3201690
    
    Test page for showing single vehicle, page is deprecated and is merged with edit.
%>

<%= @vehicle.registration %>

<!-- app/views/posts/show.html.erb -->
<% if @vehicle.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @vehicle.image %>
  </p>
<% end %>