// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginBackground{
    background-image:url("login_background.jpg");
    background-size:cover;
}

#SubmitBtn{
    width:100px;
}

.leftRow{
    padding-top:100px;
    margin-top:5px;
}

