<%# 
    Author: Ryan Tran
    Student number: s3201690

    View of the edit form
%>

<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Edit parking location</h2>
	</div>
	<div class="d-flex justify-content-center">
	    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}&key=AIzaSyC8gnvfxDpVNtV4o39R1hULlcBUHhyGpK0" %>
	</div>
    <%= render 'editform' %>
</div>