<%# 
    Author: Ryan Tran
    Student number: s3201690

    View of the edit form
%>

<div class="container-fluid col-md-8">
    <div class="alert alert-primary" role="alert" style="margin-top:30px;">
		<h2>Edit parking location</h2>
	</div>
    <%= render 'editform' %>
</div>